<script id="tasksIssuanceFormTemplate" type="text/html">
    <div id="taskIssuanceForm" data-bind="visible: isVisible()">
        <div class="panel panel-default task-issuance-panel">
            <div class="panel-heading">Распредение задания:</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <h4 class="task-title" data-bind="text: title"></h4>
                        <h5 class="task-theme">
                            <span class="entered-text">Тема: </span>
                            <span data-bind="text: theme"></span>
                        </h5>
                        <p class="task-description">
                            <span class="entered-text">Описание: </span>
                            <span data-bind="text: description"></span>
                        </p>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="checked: isIssuanceByVariantRequired"/>
                                Распределить задания по вариантам
                            </label>
                        </div>
                    </div>
                    <div class="form-group variant-list-container" data-bind="visible: isVariantsListContainerVisible()">
                        <ul class="variant-list" data-bind="foreach: variants">
                            <li class="variant">
                                <span class="variant-label" data-bind="text: studentName"></span>
                                <textarea class="form-control" data-bind="value: variantDescription">
                                </textarea>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group buttons-group clearfix">
                        <div class="inline-container pull-right">
                            <button type="button" class="btn btn-primary">Распределить задание</button>
                            <button type="button" class="btn btn-default" data-bind="click: hide">Отмена</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>