@import "constants";

.main-container {
    background-color: @mainContainerBackground;
    padding: 50px 0 0 0;
}

.numeric-list {
    padding-left: 15px;

    .numeric-list-item {
        display: list-item;
        list-style: decimal;
    }
}


.activatable-element {
    display: none;

    &.active {
        display: block;
    }
}

#alertList,
#validationErrorsList {
    display: none;
}

.filters-group {
    padding: (@mainOffset / 2) (@mainOffset + @mainColumnOffset);
    background-color: @footerAndHeaderBackground;
    border-bottom: 1px solid @footerAndHeaderBorderColor;
}

.inline-container {
    display: inline-block;
}