@import "constants";

.main-container {
    background-color: @mainContainerBackground;
    padding: 50px 0 0 0;
}

.numeric-list {
    padding-left: 15px;

    .numeric-list-item {
        display: list-item;
        list-style: decimal;
    }
}


.activatable-element {
    display: none;

    &.active {
        display: block;
    }
}

#alertList,
#validationErrorsList {
    display: none;
}

.header-group {
    padding: (@mainOffset / 2) (@mainOffset + @mainColumnOffset);
    background-color: @footerAndHeaderBackground;
    border-bottom: 1px solid @footerAndHeaderBorderColor;
}

.inline-container {
    display: inline-block;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.tag-list {
    padding: 5px 0;

    .tag {
        display: inline-block;
        padding: 2px 5px;

        font-size: 15px;

        background-color: #497BC7;
        color: white;
        border-radius: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .tag-name {
            display: inline-block;
            vertical-align: middle;
            min-width: 30px;
            padding-right: 5px;

            text-align: center;
        }

        .tag-delete-button {
            display: inline-block;
            vertical-align: middle;

            cursor: pointer;
        }

        .tag-delete-button:hover {
            color: darken(white, 20%);
        }

        .tag-delete-button:active {
            color: darken(white, 10%);
        }
    }
}
