.blue-image-shadow() {
    -webkit-box-shadow: 0 0 13px 1px rgba(57,174,168,1);
    -moz-box-shadow: 0 0 13px 1px rgba(57,174,168,1);
    box-shadow: 0 0 13px 1px rgba(57,174,168,1);
}

.control-label-mixin() {
    .control-label {
        padding-left: 15px;
        padding-top: 0;
    }
}

.disable-text-select-mixin() {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.scroll-button-mixin(@hoveredBackground: #E1E1E1, @glyphiconSize: 11px) {
    @scrollButtonPadding: 0 5px;
    @hoveredScrollButtonBackground: @hoveredBackground;
    @activeScrollButtonBackground: darken(@hoveredBackground, 10%);

    .scroll-button {
        padding: @scrollButtonPadding;

        text-align: center;

        cursor: pointer;

        .glyphicon:before {
            font-size: @glyphiconSize;
            line-height: @glyphiconSize;
        }

        &:hover {
            background-color: @hoveredScrollButtonBackground;
        }

        &:active {
            background-color: @activeScrollButtonBackground;
        }
    }
}

.d3tree-highlight(@strokeColor) {
    &.d3tree-selected {
        stroke: @strokeColor + #222;
    }
    &.d3tree-hover {
        stroke: @strokeColor;
    }
}