.blue-image-shadow() {
    -webkit-box-shadow: 0 0 13px 1px rgba(57,174,168,1);
    -moz-box-shadow: 0 0 13px 1px rgba(57,174,168,1);
    box-shadow: 0 0 13px 1px rgba(57,174,168,1);
}

.control-label-mixin() {
    .control-label {
        padding-left: 15px;
        padding-top: 0;
    }
}

.d3tree-highlight(@strokeColor) {
    &.d3tree-selected {
        stroke: @strokeColor + #222;
    }
    &.d3tree-hover {
        stroke: @strokeColor;
    }
}