{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
<title>Senseira : Password Changing</title>
{% endblock title %}

{% block alert_list %}
<ul id="alertList">
    {% if token_fail %}
    <li class="error">Неверный ключ</li>
    {% endif %}
</ul>
{% endblock alert_list %}

{% block body_block %}
<h1>{% if token_fail %}Неверный ключ{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>Ссылка для восстановдения пароля была повреждена, возможно она уже была использована.  Пожалуйста, запросите <a href="{{ passwd_reset_url }}">новое восстановление пароля</a>.</p>

{% else %}
{% if form %}
<div id="passwordChangingView" class="password-changing-container clearfix">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Смена пароля:</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" method="POST" data-bind="submit: beforeSubmit">
                    {% csrf_token %}
                    <div class="alert alert-danger activatable-element" data-bind="css: { 'active' : isValidationErrorsExists() }">
                        <ul data-bind="foreach: validationErrors">
                            <li data-bind="text: $data"></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordInput" class="control-label">Новый пароль</label>
                        <div class="col-sm-12">
                            {% render_field form.password1 data-bind="value: newPassword"  placeholder="Новый пароль" class+="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPasswordInput" class="control-label">Подтвердите пароль</label>
                        <div class="col-sm-12">
                            {% render_field form.password2 data-bind="value: passwordConfirmation"  placeholder="Подтверждение пароля" class+="form-control" %}
                        </div>
                    </div>

                    <div class="form-group buttons-group">
                        <div class="col-sm-3 col-xs-4 col-lg-4">
                            <button type="submit" class="btn btn-primary">Сменить пароль</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}
<p>'Your password is now changed.'</p>
{% endif %}
{% endif %}

{% endblock %}

{% block body_script %}
<script type="text/javascript" src="{% static 'scripts/custom/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/custom/initialAlerting.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/senseira/baseForm.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/senseira/outsidePasswordChanging.js' %}"></script>
{% endblock body_script %}
